/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.archive .entry-content p,
.blog .entry-content p,
.single .entry-content p {
  font-size: 1.25rem;
}
@media (min-width: 620px) {
  .archive .entry-content p,
  .blog .entry-content p,
  .single .entry-content p {
    font-size: 1.75rem;
  }
}
@media (min-width: 1080px) {
  .archive .entry-content p,
  .blog .entry-content p,
  .single .entry-content p {
    font-size: 2.5rem;
  }
}
.archive .entry-meta,
.blog .entry-meta,
.single .entry-meta {
  margin-bottom: 3rem;
}
.archive .entry-title,
.blog .entry-title,
.single .entry-title {
  display: inline;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0;
}
.archive .source,
.blog .source,
.single .source {
  font-size: 1.25rem;
  font-style: italic;
}
.blog .entry-content,
.page .entry-title {
  margin-top: 3rem;
}
.archive .page-title,
.search .page-title {
  border-bottom: 1px dotted #fff;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
}
.archive .hentry {
  border-bottom: 1px dotted #fff;
}

.category-archives ul,
.post-archives ul,
.tag-archives ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    font-size: 1rem;
    margin-bottom: $base__space-unit / 3;
    margin-right: $base__space-unit * 0.75;
  }
}
